body {
	font-family: Arial;
	font-size: 12px;}

h1 {
	font-size: 200%;}

h2 {font-size: 1.3em;}

a:link {
	color: gray;
	text-dcoration: none;}

a:visited {
	color: black;}

a:hover {
	color: gray;
	text-decoration: underline;}

a:active {
	color: black;}